
.h2, .header{
    color: #41463d;
}

.h2{
    text-align: center;
}


.roboto-slab- font {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: regular ;
  font-style: normal;
}

div{
   background-color:  #ecebe6;
}
.header{

    
    background-color: #8b687f;
    text-align: center;
    justify-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.motive{
    text-align: center;
    font-weight: 500;

}

